/*-----------------------------------*\

        Toast
        A Simple CSS Framework
        =================================

        Values you may want to change:
        - .container { max-width:; }
        - p { margin-bottom:; }
        - html { font:; }

\*-----------------------------------*/

/*-----------------------------------*\
        $RESET
\*-----------------------------------*/

* {
        -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box;
}
/*-----------------------------------*\
        $MAIN
\*-----------------------------------*/

html { font-size: 62.5%; } 

/*workaround for Chrom not resizing font properly according to 62.5 rest */
body {
	width:100%;
}
body > div{ 
	font-size: 16px; font-size: 1.6rem; /* =16px */
	line-height:1.5;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
	text-decoration:none;
}
iframe, svg {
	padding: 0;
	margin: 0;
}
form {
	margin: 26 0;
	margin: 2.6rem 0;
}
input, textarea {
	width: 100%;
	margin: 0 0 16 0;
	margin: 0 0 1.6rem 0;
	padding: 8px;
	padding: 0.8rem;
}
input[type="checkbox"] {
	width: 20px;
	width: 2.0rem;
	margin: 0;
}
/* firefox button fix to match 8px / 0.8rem padding */
button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
	padding: 8px !important;
	padding: 0.8rem !important;
}


/*-----------------------------------*\
        $CONTAINERS
		Containers setup for max 520px / 52.0rem, and 1040px / 104.0rem. Determined by base font size of 16px / 1.6 rem. (16 x 32.5 = 520), (16 x 65 = 1040)
\*-----------------------------------*/

.container550 {
       max-width: 550px;
		max-width: 55.0rem;
       margin: 0 auto;
		padding: 16px 32px;
		padding: 1.6rem 3.2rem;
    background-color: rgba(240,240,240,1.00);
}

.container1040 {
       max-width: 1040px;
		max-width: 104.0rem;
       margin: 0 auto;
		padding: 16px 32px;
		padding: 1.6rem 3.2rem;
    background-color: rgba(240,240,240,1.00);
}
.width100 {
	width: 100%;
}

/*-----------------------------------*\
        $GRID
\*-----------------------------------*/
.grid {
		
        margin-left: -3%;
        max-width: 105%;
		
		max-width:101%;
}

.unit {
        display: inline-block;
        vertical-align: top;
		
        margin-left: 3%;
        margin-right: -.25em;
		
        /* Clearfix */
        overflow: hidden;
        *overflow: visible;
}

        .unit.demo {
                background-color: #fff8eb;
                height: 48px;
                height: 4.8rem;
                margin-bottom: 16px;
                margin-bottom: 1.6rem;
        }

.span-grid {
        width: 97%;
}

.one-of-two { width: 47%; }

.one-of-three { width: 30.36%; }
.two-of-three { width: 63.666666666%; }

.one-of-four { width: 22.05%; }
.three-of-four { width: 72%; }

.one-of-five { width: 17.07%; }
.two-of-five { width: 37%; }
.three-of-five { width: 57%; }
.four-of-five { width: 77%; }

/*-----------------------------------*\
        At screen sizes 597px (37.330em) wide and below, columns span 100%
\*-----------------------------------*/

@media screen and (max-width: 37.330em) {
        .grid {
                margin-left: 0;
                max-width: none;
        }

        .unit {
                width: auto;
                margin-left: 0;
                display: block;
        }
}
*/

/*-----------------------------------*\
        horizontal rule line
\*-----------------------------------*/

hr {
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.1);
        margin-top: -1px;
}

/*-----------------------------------*\
       print rules
\*-----------------------------------*/
@media print {code[class*="language-"],pre[class*="language-"]{text-shadow:none;}}

.demo .unit{
	padding: 15px;
	padding: .75rem;
	margin-bottom: 16px;
    margin-bottom: 1.6rem;
	text-align: center;
	background-color: #786ABA;
	color: #E5E6F0;
}

/*-----------------------------------*\
      demo background colors
\*-----------------------------------*/
.bgColorOrangeDark {
	background-color:rgba(230,160,30,1.00);
}

.bgColorBlueDark {
	background-color:rgba(105,125,165,1.00);
	color:white;
}