@charset "UTF-8";
/* CSS Document */

/* color scheme:
        orange dark - rgba(230,160,30,1.00)
        orange light - rgba(230,193,123,1.00)
        blue dark - rgba(105,125,165,1.00)
        blue light - rgba(136,150,178,1.00)
        white - rgba(240,240,240,1.00)
*/

html {
	font-family: sans-serif;
    font-size: 62.5%;
    height: 100%;
	-webkit-text-size-adjust: none; /* prevent font scaling in landscape */
}

body {
    color: #222;
    background-color: rgba(105,125,165,1.00);
    font-family: 'Noticia Text', serif;
    font-size: 16px; font-size: 1.6rem;  /* =16px */
    line-height: 1.66;
  	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Maven Pro', sans-serif;
    line-height:1.3;
}

h1, h2   { font-size: 42px; font-size: 4.2rem; } /* =42px */
h3   { font-size: 26px; font-size: 2.6rem; } /* =26px */
h4   { font-size: 20px; font-size: 2.0rem; } /* =20px */
h5   { font-size: 16px; font-size: 1.6rem; } /* =16px */
h6   { font-size: 13px; font-size: 1.3rem; } /* =13px */

p {
	margin: 0;
}

p + p {
  text-indent: 20px;
  text-indent: 2rem;
  margin: 0;
}

img {
	max-width: 100%;
}

 .relative100 {
	display: table;
	position: relative;
	height:100%;
	width: 100%;
}

.addThisButton {
	margin-left: 13px;
	margin-left: 1.3rem;
}

/* crazy selection of button styles from Twitter Bootstrap */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default {
  color: rgba(240,240,240,1.00);
  background-color: rgba(105,125,165,1.00);
  border-color: rgba(105,125,165,1.00);
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #222;
  background-color: rgba(136,150,178,1.00);
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.clearboth {
	clear:both
}

.float-addThisGroup {
	float: right;
}
.float-right {
	float:right;
}
.float-left {
	float: left;
}

.header {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(230,160,30,1.00);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 5.5rem 0 0 0;
}
.hideH1 {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.logoResize {
	width: 50%;
	max-width:500px;
	max-width:50.0rem;
}

.marginAuto {
	margin: auto;
	display: table-cell;
}

.nav {
  background-color: rgba(5,5,5,0.80); 
  padding: 8px 16px;
  padding: 0.8rem 1.6rem;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav a {
  color: white;
}

.smallcaps {
  font-size:20px; font-size: 2.0rem; /* 20px font */
  text-indent:0;
}

.smallcaps:first-line   {
	font-variant: small-caps;
	font-size: 130%; /*font to match paragraph style */
	line-height: 1.2; /* line height reset for slightly larger text*/
}

.vert-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.video-center {
	width: 60%;
	margin: 16px auto;
	margin: 1.6rem auto;
	max-width: 750px;
	max-width: 75.0rem;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper object,
.videoWrapper embed,
.videoWrapper iframe  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#bottomForm {
	padding: 3.6rem 0 0 0;
}

#section01 {
	padding-top: 32px;
	padding-top: 3.2rem;
	position: relative;
}